@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.hidden {
  display: none;
}

#homeScreen {
  position: relative;
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%);
}

#homeScreen img {
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
  margin: auto;
  display: block;
}

.blink {
  position: absolute;  /* Or you can keep this as absolute if that works better */
  top: 70%; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  animation: blinker 1.5s linear infinite;
  font-size: 25px;
  color: black;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 4px #000000;
}

@media (max-width: 600px) {
  .blink {
    bottom: 15vh;  /* This is for mobile, adjust as needed */
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.game-level {
  position: relative;
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%);
}

#level1bg, #listenBtn, .word-option {
  position: absolute;
}

#listenBtn {
  top: 20%;
  left: 50%;
  cursor: pointer;
}

.word-option {
  top: 50%;
  cursor: pointer;
  border-radius: 15%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  animation: bounce 1s ease infinite;
}

.word-option:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

#option1 { left: 25%; }
#option2 { left: 45%; }
#option3 { left: 65%; }

#level1bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.word-option, #listenBtn {
  max-width: 20%;
  max-height: 20%;
}



.game-level {
  position: relative;
  height: 100vh;
}

@media (max-width: 600px) {
  /* Make the options bigger on smaller screens */
  .word-option {
    max-width: 50% !important;
    max-height: 50% !important;
    bottom: 30% !important; /* Adjust this value to position the images higher */
  }


  /* Reposition the options for better visibility */
  #option1 { left: 10%; }
  #option2 { left: 45%; }
  #option3 { left: 80%; }
  
  /* Adjust the game-level container */
  .game-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

#homeScreen img, #level1bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
}

