/* styles.css */
.game-container {
    position: relative;
    width: 100%;
    max-height: 800px;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#bg-img {
    width: 100%;
    height: auto;
}

.sentence {
    position: absolute;
    font-size: 44px;
    text-align: center;
    color: white; /* Set the text color to white */
    font-family: 'Chalkduster', cursive; /* Set the font to look like chalk */
}



.choices {
    position: absolute;
    display: flex;
    justify-content: space-around;
}



.choices img {
    width: 180px;
    height: auto;
    cursor: pointer;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    margin: 0 25px;  /* Adds horizontal space between each image */
}

.choices img:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
    transform: scale(1.05); /* Slightly larger on hover */
}

.level-selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 19%;
    padding: 50px 0;
}

.level-selection img {
    width: 200px;
    height: auto;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 0 20px;
}

.level-selection img:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.return-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1c0470;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: 'Georgia', serif; /* Elegant font */
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .return-button:hover {background-color: #43060e}
  
  #audioPlayer {
    display: none;
  }

  
/* This will position your circular images at the bottom */
.circular-images {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; /* center align the images */
}

/* Your existing circular frame CSS */
.circular-frame {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 50px;
}

.circular-frame img {
    display: block;
    width: 100%;
    height: 100%;
    filter: saturate(0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

  